[core]
	excludesfile = /opt/boxen/config/git/gitignore
	editor = nano

[credential]
	helper = /opt/boxen/bin/boxen-git-credential

[hub]
	protocol = https

[user]
	name = Jonas Van Schoote
	email = jonas@madewithlove.be
